<!-- <h1>project name:  <%= project.projectName %></h1> -->
<div class="container">
  <div class="mt-2 d-flex justify-content-between">
    <h3>Project Details Page</h3>

    <a type="button" class="btn btn-info" href="/api/v1/issues/"
      >View all Issue</a
    >

    <a type="button" class="btn btn-info" href="/api/v1/issues/create"
      >Create Issue</a
    >
  </div>

  <!-- details -->
  <div class="mt-4">
    <div class="mb-3">
      <p>Project Name : <span><%= project.projectName %></span></p>
    </div>
    <div class="mb-3">
      <p>Author : <span><%=project.author %></span></p>
    </div>
    <div class="mb-3">
      <p>Description : <span><%=project.description %></span></p>
    </div>
    <div class="mb-3">
      <p>Title : <span><%=project.description %></span></p>
    </div>
    <div class="mb-3">
      <p>Issue : <span><%=project.description %></span></p>
    </div>
  </div>
</div>
