<!-- <h1>project name:  <%= project.projectName %></h1> -->
<div class="container">
  <div class="mt-2 d-flex justify-content-between">
    <h3>Project Details Page</h3>

    <div>
      <a
        type="button"
        class="btn btn-info"
        href="/api/v1/issues/<%= project._id %>"
        >View all Issue</a
      >

      <a
        type="button"
        class="btn btn-info"
        href="/api/v1/issues/<%= project._id %>/create"
        >Create Issue</a
      >
    </div>
  </div>

  <!-- details -->
  <div class="mt-4">
    <div class="mb-3">
      <p>
        Project Name :
        <span class="text-success"><%= project.projectName %></span>
      </p>
    </div>
    <div class="mb-3">
      <p>Author : <span class="text-success"><%=project.author %></span></p>
    </div>
    <div class="mb-3">
      <p>
        Description :
        <span class="text-success"><%=project.description %></span>
      </p>
    </div>
  </div>
</div>
