<div class="container">
  <h1>All Issue's</h1>

  <!-- accordion -->

  <div class="accordion" id="accordionExample">
    <% if(issues.length > 0) { issues.forEach((issue, index) => { %>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse<%= index %>"
          aria-expanded="true"
          aria-controls="collapse<%= index %>"
        >
          <%= index + 1 %>. <%= issue.title %>
          <span class="badge text-bg-info ms-4"><%= issue.label%></span>
        </button>
      </h2>
      <div
        id="collapse<%= index %>"
        class="accordion-collapse collapse <%= index === 0 ? 'show': '' %>"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <span class="bg-warning"
            >Created At :- <%= new Date(issue.createdAt).toLocaleString()
            %></span
          >
          <p>
            Description :-
            <span class="text-success"><%= issue.description %></span>
          </p>
          <p>Author :- <span class="text-success"><%= issue.author %></span></p>
        </div>

        <div align="end" class="me-5 mb-2">
          <span>
            <a
              class="text-danger delete-issue"
              issue-id="<%= issue._id %>"
              style="cursor: pointer"
            >
              <i class="bi bi-trash"></i> </a
          ></span>
        </div>
      </div>
    </div>
    <% })} else { %>
    <h1>
      <marquee class="text-danger" behavior="" direction="right"
        >Issue not found</marquee
      >
    </h1>

    <% } %>
  </div>

  <div align="end" class="py-4">
    <a
      class="btn btn-danger"
      aria-label="Close"
      href="/api/v1/projects/<%= projectId %>"
      >Close</a
    >
  </div>
</div>
